	<style type="text/css">
		body {
			font-size: 18px;
			font-family: serif;
			background-color: #ffe;
			color: #210;
		}

		#contenedor {
			max-width: 40ch;
			margin: 2rem auto;
			padding: 1rem;
		}

		h1 {
			font-size: 2rem;
			text-align: center
		}

		p {
			font-family: sans-serif;
			 opacity: 100%;
			  color:#000;
		}

		#primer-parrafo em{
			font-size: 1.3rem;
			background-color: #eec;
			COLOR:#933;
		}

#primer-parrafo{
	background-color:#CEE;
}

		p.importante em {
			font-weight: bold;
			color: #144;
		}

		p.novelas a {
			 outline: 1px solid #333;
			text-decoration: none;
		}
		p.novelas a:hover {
			text-decoration: underline;
			background-color: #ccd;
		}

		body p.fuente.parrafo {
			color: #bbb !important;
			font-size: 0.9rem;
			opacity: 50%;
			text-align: center;
		}

		a{
			 outline: 1px solid #333;
		}
		#importante{
			color:#C62;
			font-weight: bold;
		}
		p{
    	background-color: rgba(190, 120, 240, 0.6);
		}
	</style>
